.main {
  width: 100%;
  overflow-x: hidden;
}
.breadcrumb {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}
.breadcrumb span {
  margin-right: 5px;
}
.current {
  font-weight: bold;
}
.buttonLink {
  margin-top: 10px;
  text-align: center;
}
