.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px;
}
.hero {
  position: relative;
  height: 240px;
  background-image: url("/whitepaper_hero.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.heroContent {
  background: rgba(255, 255, 255, 0.9); /* 半透明白 */
  border-radius: 8px;
}
.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #ff8c00;
  margin-bottom: 10px;
}
.description {
  font-size: 1rem;
  color: #555;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .heading {
    font-size: 20px;
  }
  .description {
    font-size: 15px;
  }
}
